<div class="page" id="orders" style="display: none;">
    <table class="employees-table categories-table" id="orders-table">
        <tr class="employees-table__title-row">
                <td style="width: 20px;"><div class="title">#</div></td>
                <td class="td-wide"><div class="title">Статус заказа</div></td>
                <td><div class="title">Дата заказа</div></td>
                <td style="width: 160px;"><div class="title"></div></td>
                <td style="width: 120px;"><div class="title"></div></td>
        </tr>
        <tr>
            <td style="width: 20px;"><div class="field">1</div></td>
            <td class="td-wide"><div class="field">Ожидает</div></td>
            <td><div class="field">01.01.2022</div></td>
            <td style="width: 160px;"><button onclick="openPopup('popup-order-view');">Детали</button></td>
            <td style="width: 120px;"><button class="table-btn__remove">Выполнить</button></td>
        </tr>
        <tr>
            <td style="width: 20px;"><div class="field">2</div></td>
            <td class="td-wide"><div class="field">Ожидает</div></td>
            <td><div class="field">01.01.2022</div></td>
            <td style="width: 160px;"><button onclick="openPopup('popup-order-view');">Детали</button></td>
            <td style="width: 120px;"><button class="table-btn__remove">Выполнить</button></td>
        </tr>
        <tr>
            <td style="width: 20px;"><div class="field">3</div></td>
            <td class="td-wide"><div class="field">Ожидает</div></td>
            <td><div class="field">01.01.2022</div></td>
            <td style="width: 160px;"><button onclick="openPopup('popup-order-view');">Детали</button></td>
            <td style="width: 120px;"><button class="table-btn__remove">Выполнить</button></td>
        </tr>
    </table>
</div>