<div class="page" id="users" style="display: none;">
    <table class="employees-table users-table" id="users-table">
        <tr class="employees-table__title-row">
                <td style="width: 20px;"><div class="title">#</div></td>
                <td><div class="title">Пользователь</div></td>
                <td><div class="title">Имя</div></td>
                <td><div class="title">Фамилия</div></td>
                <td><div class="title">Отчество</div></td>
                <td><div class="title">Телефон</div></td>
                <td><div class="title">Почта</div></td>
                <td><div class="title">Дата регистрации</div></td>
        </tr>
        <tr>
            <td style="width: 20px;"><div class="field">1</div></td>
            <td><div class="field">username</div></td>
            <td><div class="field">Иван</div></td>
            <td><div class="field">Петров</div></td>
            <td><div class="field">Александрович</div></td>
            <td><div class="field">88005553535</div></td>
            <td><div class="field">email@inbox.ru</div></td>
            <td><div class="field">01.01.2022</div></td>
        </tr>
        <tr>
            <td style="width: 20px;"><div class="field">1</div></td>
            <td><div class="field">username</div></td>
            <td><div class="field">Иван</div></td>
            <td><div class="field">Петров</div></td>
            <td><div class="field">Александрович</div></td>
            <td><div class="field">88005553535</div></td>
            <td><div class="field">email@inbox.ru</div></td>
            <td><div class="field">01.01.2022</div></td>
        </tr>
        <tr>
            <td style="width: 20px;"><div class="field">1</div></td>
            <td><div class="field">username</div></td>
            <td><div class="field">Иван</div></td>
            <td><div class="field">Петров</div></td>
            <td><div class="field">Александрович</div></td>
            <td><div class="field">88005553535</div></td>
            <td><div class="field">email@inbox.ru</div></td>
            <td><div class="field">01.01.2022</div></td>
        </tr>
    </table>
</div>